<%if @author.errors.any? %>
	<% @author.errors.full_messages.each do |error| %>
		<p style="color:red"><%= error %></p>
	<%end %>
<% end %>

<%= form_for @author do |f| %>
		<%= f.label "First Name" %>
		<%= f.text_field :first_name, autofocus: true %><br/>
    <%= f.label "Last Name" %>
    <%= f.text_field :last_name%><br />
    <%= f.label "Age" %>
		<%= f.text_field :age %><br/>
    <%= f.submit%>
<% end %>