<%if @book.errors.any? %>
<% @book.errors.full_messages.each do |error| %>
<p style="color:red"><%= error %></p>
<% end %>
<% end %>

<%= form_for [@author,@book] do |f| %>
		<%= f.label "Title" %>
		<%= f.text_field :title, autofocus: true %><br/>
    <%= f.label "Description" %>
    <%= f.text_field :description%><br />
    <%= f.submit%>
<% end %>